body {
    padding-top: 10%;
    background-color: aliceblue;
    overflow:hidden;
}

h1 {
    font-size: 500%;
}

.title {
    margin: 0 auto;
    color: darkcyan;
    text-align: center;
    animation: appear 1s;
    font-family: 'Josefin Sans', sans-serif;
    display: block;
}

.animation {
    animation: bounce 0.3s 2 alternate;
}

@keyframes appear {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
  }

@keyframes bounce {
    0% {transform: scale(1);}
    100% {transform: scale(2); color: lightseagreen;}
}