body {
    padding-top: 10%;
    background-color: aliceblue;
    overflow:hidden;
}

h1 {
    font-size: 500%;
}

.title {
    margin: 0 auto;
    color: darkcyan;
    text-align: center;
    transition: transform .5s;
    font-family: 'Josefin Sans', sans-serif;
    display: block;
}

.title:hover {
    transform: scale(1.8);
}