body {
    background-color: aliceblue;
    padding-top: 20%;
}

h1 {
    font-size: 100px;
}

.center {
    margin: auto;
    width: 50%;
    text-align: center;
}

.welcome {
    font-size: 100px;
    color: darkcyan;
    font-family: 'Josefin Sans', sans-serif;

}

.title {
    display: flex;
    padding: 0 5%;
    transition: transform .5s;
    animation-timing-function: ease;
}

.title:hover {
    transform: scale(1.5);
}